{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <div class="title">
        <h1 class="judul-film"> {{ movie.title }} ({{ movie.year }})</h1>
        <h3> {{ movie.rated}} | {{ movie.genre }} </h3>
        <div class="ratingsimdb"><img src="https://png.icons8.com/star-filled/ios7/50/f1c40f" id="star">{{ movie.ratings.0.Value }}
    </div>
    <div class = "plot">
        <img id="poster" src="{{ movie.poster }}">
        <div class="description">
            <p> {{ movie.plot }} </p>
            <br>
            <p> Director : {{ movie.director }} </p>
            <p> Writers : {{ movie.writer }} </p>
            <p> Starring : {{ movie.actors }} </p>
            <p> Duration : {{ movie.runtime }} </p>
            <br>
            <p style="color: grey; text-align: right;"> {{ movie.ratings.1.Value }} <br> Rotten Tomatoes</p>
            <p style="color: grey; text-align: right;"> {{ movie.ratings.2.Value }} <br> Metacritic</p>
        </div>
    </div>
</div>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        <button class="btn btn-warning"> Mark as watched </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>
{% endblock %}
