{% extends "lab_10/layout/base.html" %}

{% block content %}
{% if watch_later_movies %}
<div class ="table">
	<h1> Daftar Watch Later </h1>
	<table  class="table table-hover" id="myTable2" style="width: none;">
		<thead>
			<tr>
				<th scope="col" style="text-align: center;">Title</th>
				<th scope="col" style="text-align: center;">Tahun</th>
				<th scope="col" style="text-align: center;">Poster</th>
				<th scope="col" style="text-align: center;">Detail</th>
			</tr>
		</thead>
		<tbody>
			{% for movie in watch_later_movies %}
			<tr>
				<th style="text-align: center;" scope="row"> {{ movie.title }} </th>
				<td style="text-align: center;"> {{ movie.year }} </th>
				<td style="text-align: center;"> <img id="posterwl" src="{{ movie.poster }}"></td>
				<td style="text-align: center;"><a href='/lab-10/movie/detail/{{movie.imdbid}}' class='btn btn-primary'> Detail </a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div class="alert alert-danger text-center">
      <strong>Oops!</strong> No movies added.
  </div>
{% endif %}
{% endblock %}