{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="lab8">

	<center>
		<h3 class="title"> WELCOME </h3>
		<button onclick="facebookLogin()" class="button-login">Continue with Facebook</button>
	</center>
</div>
{% endblock %}
