{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <title> 
        Fannyah
    </title>
</head>
<style>
    h1{
        font-family: 'Quicksand';
        font-size: 40px;
        color: black;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 7px;
    }
    h2{
        font-family: 'Roboto';
        font-size: 30px;
        color: white;
        letter-spacing: 4px;
        text-align: center;
    }
    p, ul{
        font-family: 'Quicksand';
        font-size: 20px;
        color: white;
    }
    .sections {
        background-color: #571D93;
        width: 100%;
    }
    th{
        background-color: white;
    }
</style>

<body style="background-color: #678ADB">
    <header>
        {% block header %}
        {% include "lab_4/partials/header.html" %}
        {% endblock %}
    </header>
    <content>
        <div class="container">
            {% block content %}
            {% endblock %}
    </content>
    <footer>
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
