body{
	margin-top: 0px;
	font-family: 'Quicksand';
	background-color: rgb(0,182,180);
}

#lab8{
	text-align: center;
	margin-top: 100px;
}

.cover{
	text-align: center;
	margin-top: 0px;
}

.picture{
	text-align: center;
}

.foot{
	margin-bottom: 0px;
	text-align: center;
}