body{
	font-family: 'Quicksand';
}

.footer{
	text-align: center;
}

#header{
	color: white;
	font-size: 25px;
}

.rata-tengah {
	text-align: center;
	margin : 20px;
}
.judul {
	text-transform:uppercase;
	margin-bottom: 50px;
	margin-top: 50px;
}

#star {
	width: 35px;
}

.ratingsimdb {
	font-size: 30px;
}

#posterwl{
	width: 150px;
}

#poster{
	float: left;
	margin-right: 30px;
}

.description{
	font-size: 20px;
}

#dash, #wl{
	font-size: 16px;
	font-weight: 10px;
}