body{
	margin-top: 0px;
	font-family: 'Quicksand';
	background-color: rgb(0,182,180);
}

#lab8{
	text-align: center;
	margin-top: 100px;
}

.cover{
	margin-top: -90px;
	margin-left: 0%;
	height: 30%;
	padding: 20px;
	background-color: pink;
}

.picture{
	border-radius: 50%;
	margin-top:-80px;
	text-align: center;
	width: 95px;
	padding: 10px;
	background-color: pink;
	border-width: 5px;
}
.data{
	text-align: center;
	background-color: pink;
}

.foot{
	margin-bottom: 0px;
	text-align: center;
}

#postInput{
	width: 60%;
	text-align: center;
}

.postStatus{
	
}

.logout{

}