{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>🌸Portofolio🌸</h1>
<p style="text-align: center;">
    <img class="img-circle" src="http://33.media.tumblr.com/513faf0cf17449a6292dba895c224ff0/tumblr_nkiyrdgpgB1qhzi2jo2_250.gif" align="center">
</p>   
<section name="bio" style="padding-bottom: 20px">
    <div class="sections">
        <h2>Bio</h2>
    </div>
    <p style="text-align: center;">
        {{content}}
    </p>    
</section>
<section name="about_me" style="padding-bottom: 20px">
    <div class="sections">
        <h2>Six Things About Me</h2>
    </div>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<section name="form" style="padding-bottom: 20px">
    <div class="sections">
        <h2>Send Message</h2>
    </div>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
