{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 20%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-size: 25px;
        font-style: "Quicksand";
        color: #B0408E;
        text-align: center;
    }
</style>
<div class="center_screen">
    <img src=http://clipart-library.com/images/5cRrdLgEi.png style="width:400px;height:229.5px;text-align: center;top: 30%"></p>
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}