{% extends "lab_9/layout/base.html" %}

{% block header %}
<nav class="navbar navbar-default" style="background-color: black">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="header" href="{% url 'lab-9:index' %}">WELCOME TO MY LAB 9🎉</a>
    </div>
     <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lab-9:auth_logout' %}"> Logout </a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">See All labs<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'lab-1:index' %}">Lab 1</a></li>
              <li><a href="{% url 'lab-2:index' %}">Lab 2</a></li>
              <li><a href="{% url 'lab-3:index' %}">Lab 3</a></li>
              <li><a href="{% url 'lab-4:index' %}">Lab 4</a></li>
              <li><a href="{% url 'lab-5:index' %}">Lab 5</a></li>
              <li><a href="{% url 'lab-6:index' %}">Lab 6</a></li>
              <li><a href="{% url 'lab-7:index' %}">Lab 7</a></li>
              <li><a href="{% url 'lab-8:index' %}">Lab 8</a></li>
              <li><a href="{% url 'lab-9:index' %}">Lab 9</a></li>
              <li><a href="{% url 'lab-10:index' %}">Lab 10</a></li>
            </ul>
          </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Session] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ author }} </p>
        <p> NPM : {{kode_identitas}} </p>
        <p> Role : {{ role }} </p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
            Logout </a>
        <a href="{% url 'lab-9:cookie_login' %}" class="btn btn-info"> Masuk Halaman Cookies </a>
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#drones" aria-controls="home" role="tab" data-toggle="tab"> Drones </a>
        </li>
        <li role="presentation">
            <a href="#soundcard" aria-controls="settings" role="tab" data-toggle="tab"> Soundcard </a>
        </li>
        <li role="presentation">
            <a href="#optical" aria-controls="settings" role="tab" data-toggle="tab"> Optical </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="drones">
            {% include 'lab_9/tables/drones.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="soundcard">
            <!-- Apply the same here -->
            {% include 'lab_9/tables/soundcards.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="optical">
            <!-- Apply the same here -->
            {% include 'lab_9/tables/opticals.html' %}
        </div>
    </div>
</div>
{% endblock %}
