<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-7:index' %}">WELCOME TO MY LAB 7🎉</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'lab-7:friend-list' %}"> Friend List </a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">See All labs<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'lab-1:index' %}">Lab 1</a></li>
                        <li><a href="{% url 'lab-2:index' %}">Lab 2</a></li>
                        <li><a href="{% url 'lab-3:index' %}">Lab 3</a></li>
                        <li><a href="{% url 'lab-4:index' %}">Lab 4</a></li>
                        <li><a href="{% url 'lab-5:index' %}">Lab 5</a></li>
                        <li><a href="{% url 'lab-6:index' %}">Lab 6</a></li>
                        <li><a href="{% url 'lab-7:index' %}">Lab 7</a></li>
                        <li><a href="{% url 'lab-8:index' %}">Lab 8</a></li>
                        <li><a href="{% url 'lab-9:index' %}">Lab 9</a></li>
                        <li><a href="{% url 'lab-10:index' %}">Lab 10</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
