{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 9">
    <meta name="author" content="{{author}}">

    <!-- bootstrap csss -->
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
     <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_10.css' %}"/>
    <title>
        {% block title %} Lab 10 By Fannyah {% endblock %}
    </title>
</head>
<body>
<header>
    <!-- <h1 style="text-align:center">
        <small><em> Change This With Your Custom Header </em></small>
    </h1> -- >
    <!-- Your Header Here -->
    {% include "lab_10/partials/header.html" %}
</header>
<content>
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
<footer>
    <hr>
    {% block footer %}

    <!-- <h1 style="text-align:center">
        <small><em> Change This With Your Custom Footer </em></small>
    </h1> -->
    <!-- Your Footer Here -->
    {% include "lab_10/partials/footer.html" %}
    {% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>s
</html>
