<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    table, th, td {
        border: 1px solid black;
        background-color: #FF94D7;
        padding: 10px;
    }
    .subject{
        font-size: 20px;
        font-family: "Quicksand";
        color: white;
        text-align: right;
        background: #C8218A; 
    }
    .value{
        font-size: 20px;
        font-family: "Quicksand";
        text-align: left;
        background: white; 
    }
    .date{
        background-color: #FFE7F6;

    }
    .activity{
        background-color: #FFE7F6; 
    }
    .button{
        background-color: white;
        color: black;
    }
</style>
<body style="background-color: #D4A0E3">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Fannyah</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">See All labs<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'lab-1:index' %}">Lab 1</a></li>
              <li><a href="{% url 'lab-2:index' %}">Lab 2</a></li>
              <li><a href="{% url 'lab-3:index' %}">Lab 3</a></li>
              <li><a href="{% url 'lab-4:index' %}">Lab 4</a></li>
              <li><a href="{% url 'lab-5:index' %}">Lab 5</a></li>
              <li><a href="{% url 'lab-6:index' %}">Lab 6</a></li>
              <li><a href="{% url 'lab-7:index' %}">Lab 7</a></li>
              <li><a href="{% url 'lab-8:index' %}">Lab 8</a></li>
              <li><a href="{% url 'lab-9:index' %}">Lab 9</a></li>
              <li><a href="{% url 'lab-10:index' %}">Lab 10</a></li>
            </ul>
          </li>
            </ul>

          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
